body
{
  margin: 0;
  padding: 0;
  
  overflow-x: hidden;
  
  z-index: -10;
  background-image: url("/img/artex/bg.png");
  background-position-x: center;
  background-position-y: 50%;
  background-attachment: fixed;
  background-color: black;
  color: white;
}
.ArtPicture
{
  max-height: 70vh;
  width: auto;
  
  border: 1px solid white;
}

/* Curtains ------------------------------------------------ */
#CurtainsContainer {
  height: 0;
  width: 100vw;
  margin: 0;
  padding: 0;
  z-index: 999;

  display: flex;
  overflow: visible;
  position: sticky;

  pointer-events: none;
}
#Curtains {
  height: 105vh;
  width: 100%;
  z-index: 99999999999;
}
.Sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

/* Main content ------------------------------------------------ */
#BlackBox
{
  margin: 4% auto 2%;
  width: 90%;
  
  overflow: hidden;
  
  background-color: rgba(0, 0, 0, 0.0);
  border: 0 solid #20084b;
}
#ArtContent
{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  
  justify-content: center;
  text-align: center;
  overflow: hidden;
  
  font-family: "Lucida Console", monospace;
}
.Caption {
  text-shadow: black 1px 1px 10px, black 1px 1px 10px, black 1px 1px 10px, black 1px 1px 10px, black 1px 1px 10px, black 1px 1px 10px, black 1px 1px 10px, black 1px 1px 10px, black 1px 1px 10px, black 1px 1px 10px, black 1px 1px 10px, black 1px 1px 10px;
  line-height: 20px;
}
h2 {
  text-shadow: black 1px 1px 10px, black 1px 1px 10px, black 1px 1px 10px, black 1px 1px 10px, black 1px 1px 10px, black 1px 1px 10px, black 1px 1px 10px, black 1px 1px 10px, black 1px 1px 10px, black 1px 1px 10px, black 1px 1px 10px, black 1px 1px 10px;
}