body
{
  margin: 0;
  
  background-color: black;
  background-image: url("/img/community/bg.png");
  background-size: cover;
  background-position-y: 70%;
  backdrop-filter: brightness(60%);
  scroll-behavior: smooth;
}

/* Stalactites ---------------------------------------------------------------- */
#StreamsContainer {
  height: 0;
  width: 100vw;
  margin: 0;
  padding: 0;
  z-index: 999;

  display: flex;
  overflow: visible;
  position: fixed;
  pointer-events: none;
}
#Streams {
  height: 103vh;
  width: 100%;
  z-index: 99999999999;
}

/* Linktree ---------------------------------------------------------------- */
#Linktree {
  top: 22%;
  left: 9%;
  position: absolute;
}
#LinktreePic
{
  display: flex;
  margin-left: 0vw;
  height: auto;
  width: 30vw;

  justify-content: center;
  align-items: center;

  transform: rotate(-5deg);
}

/* Seedbox ---------------------------------------------------------------- */
#Seedbox {
  top: 48%;
  left: 8%;
  position: absolute;
}
#SeedboxPic
{
  display: flex;
  height: auto;
  width: 12vw;

  justify-content: center;
  align-items: center;

  transform: rotate(-10deg);
}

/* Guestbook ---------------------------------------------------------------- */
#Guestbook {
  top: 45%;
  left: 22%;
  position: absolute;
}
#GuestbookPic
{
  display: flex;
  height: auto;
  width: 20vw;

  justify-content: center;
  align-items: center;
  transform: rotate(-3deg);
}

/* Outreach ---------------------------------------------------------------- */
#RightContainer {
  position: absolute;
  top: 25%;
  right: 6.5%;
  width: 37%;
  height: 45%;

  display: grid;
  grid-template-rows: auto auto;
  row-gap: 5%;
  justify-content: center;
  align-content: center;
  text-align: center;
}
#EmptyPic {
  margin-left: 10%;
  width: 80%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}