body
{
  margin: 0;
  
  background-color: black;
  background-image: url("/img/community/bg.png");
  background-size: cover;
  background-position-y: 70%;
  backdrop-filter: brightness(60%);
  scroll-behavior: smooth;
}
a:link {
  color: #24ad24;
  background-color: transparent;
}
a:visited {
  color: #317d31;
  background-color: transparent;
}
a:hover {
  color: #00ff00;
  background-color: transparent;
}
a:active {
  color: white;
  background-color: transparent;
}

/* Stalactites ---------------------------------------------------------------- */
#StreamsContainer {
  height: 0;
  width: 100vw;
  margin: 0;
  padding: 0;
  z-index: 999;

  display: flex;
  overflow: visible;
  position: fixed;
  pointer-events: none;
}
#Streams {
  height: 103vh;
  width: 100%;
  z-index: 99999999999;
}

/* Linktree ---------------------------------------------------------------- */
#Linktree {
  top: 22%;
  left: 9%;
  position: absolute;
}
#LinktreePic
{
  display: flex;
  margin-left: 0vw;
  height: auto;
  width: 30vw;

  justify-content: center;
  align-items: center;

  transform: rotate(-5deg);
}

/* Seedbox ---------------------------------------------------------------- */
#Seedbox {
  top: 48%;
  left: 8%;
  position: absolute;
}
#SeedboxPic
{
  display: flex;
  height: auto;
  width: 12vw;

  justify-content: center;
  align-items: center;

  transform: rotate(-10deg);
}

/* Guestbook ---------------------------------------------------------------- */
#Guestbook {
  top: 45%;
  left: 22%;
  position: absolute;
}
#GuestbookPic
{
  display: flex;
  height: auto;
  width: 20vw;

  justify-content: center;
  align-items: center;
  transform: rotate(-3deg);
}

/* Chat box ---------------------------------------------------------------- */
#FlowerBoxSpace
{
  position: absolute;
  top: 25%;
  right: 8%;
  width: 18%;
  height: 45%;

  border: 1px solid white;
  box-shadow: -4px 6px 2px 2px #065421, 4px -6px 2px 2px #076269;

  display: none;
}
#FlowerBox
{
  width: 100%;
  height: 100%;

  z-index: -1;
}
/* Outreach ---------------------------------------------------------------- */
#OutreachContainer {
  height: 100%;
  width: 50%;

  position: absolute;
  right: 0;

  display: grid;
  grid-template-rows: auto auto;
  row-gap: 5%;
  justify-content: center;
  align-content: center;
  text-align: center;
}

#KuudzuButton {
  justify-self: center;
}

#ButtonsContainer {
  justify-self: center;
  width: 60%;
  height: auto;
}

#LinksContainer {
  justify-self: center;
  width: 60%;
}

.Button {
  width: 81px;
  height: 33px;
  min-height: 33px;

  box-shadow: 0 -1.5px 4px 4px rgba(0,0,0,1);
}