body
{
  margin: 0;
  padding: 0;
  
  z-index: -10;
  background-image: url("/img/writing/bg.png");
  background-position-x: center;
  background-position-y: 40%;
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
  color: white;

  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Tree Trunk (LEFT) ----------------------------------------------------------------- */
#TreeTrunkContainer {
  display: flex;
  position: absolute;
  width: 30%;
  height: 100%;
  left: 0;
  
  overflow: visible;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  pointer-events: none;
}
#TreeTrunk {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;

  pointer-events: none;
}

/* Writing (RIGHT) ----------------------------------------------------------------- */
.arrow {
  height: 10%;
  width: auto;
}
#LeftArrow {
  margin: 0;
  margin-right: -5%;
  padding: 0;

  filter: brightness(0.5) opacity(0.5);
}
#RightArrow {
  transform: rotateY(180deg);
  margin: 0;
  margin-left: -5%;
  padding: 0;

  cursor: pointer;
  filter: brightness(0.8);
}
#WritingContainer
{
  display: flex;
  position: absolute;
  padding: 0;
  right: 0;
  width: 65%;
  margin-right: 5%;
  height: 100%;
  max-width: 65vw;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
#WritingBlockVisual
{
  margin: 0;
  right: 0;
  width: 80%;
  height: 85%;
  max-height: 85%;

  background-color: rgba(0, 0, 0, .5);
  border: 2px solid #0000AA;
}
#Writing
{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  align-items: center;
  justify-content: center;

  mask-image: linear-gradient(to bottom, black 83%, transparent 100%);
}
#InnerText {
  margin: 5%;
  font-size: max(14px, 1.75vh);

  justify-content: left;
  text-align: left;

  color: #DDDDDD;
  font-family: "Georgia", serif;
}
h1 {
  margin-bottom: 0%
}